# <center> <b> Analisis Marketing Bank untuk Memprediksi klient yang akan Subscribe Deposit Berjangka<br>

Nama: DESTI RATNA KOMALA

Batch : FTDS-020-RMT

Dataset : `Bank Customer Data in VietNam`

HuggingFace: [`Bank-Marketing-Term-Deposit-prediction`](https://huggingface.co/spaces/destiratnakomala/Bank-Marketing-Term-Deposit)

### Judul


**"Pemodelan Deeplearning Framework memprediksi customer yang akan berhenti menggunakan produk (churn) pada perusahaan tersebut"**

### Objective

Menguji model sequential improvement API dengan data baru untuk memprediksi churn customer

## 2- Import Library

In [ ]:
# Import Library

import pickle
import joblib
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

## 3-Load model

In [ ]:
load_model = joblib.load("xgboost.pkl")

In [ ]:
# Load Model

with open('preprocessor_nn.pkl', 'rb') as file_1:
  preprocessor = pickle.load(file_1)

model_nn = load_model('nn_best_model.h5', compile=False)

In [ ]:
#panggil data post undersampling
test_data=pd.read_csv(r'/content/bank_marketing.csv')
test_dt=test_data.copy()
test_dt

,ID,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,term_deposit
0,10729,33,self-employed,2,tertiary,0,6,0,0,16,jun,141,6,-1,0,0
1,23374,54,management,0,tertiary,0,124,0,0,27,aug,119,11,-1,0,0
2,24418,30,management,1,secondary,0,18,1,0,17,nov,294,1,-1,0,0
3,8489,32,admin.,1,secondary,0,725,1,0,3,jun,303,1,-1,0,0
4,22264,57,retired,2,primary,0,0,0,0,21,aug,394,3,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,42632,28,self-employed,1,tertiary,0,4579,0,0,12,jan,409,2,-1,0,1
7918,42634,49,management,2,tertiary,0,1093,1,1,12,jan,243,2,91,2,1
7919,42635,21,student,1,secondary,0,2488,0,0,12,jan,661,2,92,1,1
7920,42636,87,retired,2,primary,0,2190,0,0,12,jan,512,2,-1,0,1
7921,42638,22,student,1,secondary,0,254,0,0,13,jan,143,2,-1,0,1

## 4- Data inferencing

In [ ]:
#Input data baru dari test dan lihat hasil death eventnya, apakah sesuai atau tidak
#data inference
data_inf = {
        'age': 49,
        'job':'management',
        'marital':2,
        'education':'tertiary',
        'default':0,
        'balance':1093,
        'housing': 1,
        'loan':1,
        'duration':243,
        'campaign': 2,
        'pdays':91,
        'last_contact_day': 198,
        'previous': 2
}
data_inf = pd.DataFrame([data_inf])
data_inf

,age,job,marital,education,default,balance,housing,loan,duration,campaign,pdays,last_contact_day,previous
0,49,management,2,tertiary,0,1093,1,1,243,2,91,198,2

## 5-Predict Neural Network

In [ ]:
# Preprocessing data inference
data_final = preprocessor.transform(data_inf)

In [ ]:
# Prediksi data inference

y_inf_pred = np.where(model_nn.predict(data_final) >= 0.5, 1, 0)
y_inf_pred

if y_inf_pred == 0:
  print('Not Subscribe')
else:
  print('Subscribe')

1/1 [==============================] - 0s 174ms/step
Subscribe

## 6-Predict Cat boost

In [ ]:
pred_new= load_model.predict(data_inf)
pred_new

array([1])

In [ ]:
print(f"Hasil prediksi apakah penumpang puas atau tidak:", end="\n\n")
for _ in pred_new:
    match _:
        case 0:
            print("Not subscribe")
        case 1:
            print("subscribe")

Hasil prediksi apakah penumpang puas atau tidak:

subscribe